<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzGWhWzHU_mVxKeOkRvj_XwFnvMG_XQJA</string>
	<key>GCM_SENDER_ID</key>
	<string>480518054438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SeoyeonKim.Gongam2</string>
	<key>PROJECT_ID</key>
	<string>gongam2-ff081</string>
	<key>STORAGE_BUCKET</key>
	<string>gongam2-ff081.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:480518054438:ios:e9cabbc6278bb308fc3ce7</string>
</dict>
</plist>
